@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
}



/* html,
body {
    background-color: red;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111,
}
.active {
  background-color: #4CAF50;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-image: linear-gradient(to right, #3d9777 0%, #045ebf 74%); */
  background-color: rgba(176, 221, 252, 0.486);
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navLeft {
  display: flex;
  padding-left: 30px;
}

.navRight {
  display: flex;
}

li {
  display: flex;
  padding: 0px 30px;
}

.title {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.menuIcon {
  margin: 17px;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.delete-card-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.tech-stack {
  display: flex;
}

.tech-chip {
  background-image: linear-gradient(to right, #3d9777 0%, #045ebf 74%);
  ::label {
    color: white;
  }
}

.chip-list {
  padding: 0px 10px;
  color: white;
}
